* {
	margin: 0;
	padding: 0;
	border: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

*{font-family: 'Roboto', sans-serif;
    text-align:center;}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body{
    width:100%;
}

/* -------- Typography Formatting -------- */

/*green #50694b, pink #ff294f, tan #f5f4f0*/

h1{
    
}
h2{
    text-transform: uppercase;
}

.green{
    color:#50694b;
}
.white{
    color:#fff;
}
.pink{
    color:#ff294f
}

.button{
    border:2px solid #50694b;
		line-height:.7rem;
		padding:.7rem;
		border-radius:5px;
}

/* -------- Section Formatting -------- */
.tan{
    background:#f5f4f0;
}

.content-block-one {}
.content-block-two {}

/* -------- Nav Bar -------- */

.nav-bar {
}

.nav-bar ul{
	margin:0 auto;
	padding:0;
	display:flex;
	width:90%;
}

.nav-bar ul li{
	display:inline-block;
	list-style-type:none;
	padding:.5rem;
}

.nav-bar ul li a{
	display:block;
	text-decoration:none;
}

.nav-bar ul li:first-child {
	margin-right:auto;
}

.logo {
    width:60%;
    margin-top:-.2rem;
}
/* -------- Header -------- */

.top-bar {
	margin:auto;
	padding:1rem;
}

.top-bar p {
	text-align:right;
	width:90%;
}

.hero{
    height:50%;
    background-size:auto;
    position:relative;
    margin:0;
    width:100%;
}


.hero img{
    z-index:-10;
    width:100%;
    margin:0;

}

.hero-text{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;

    
}




/* -------- Content Blocks -------- */
.in-season-images{
    
}

/* -------- Footer -------- */
footer{
    color:#50694b;
}